body {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  }

.estiloHover:hover {
    border-radius: 5px; 
    background-color: #e8eef3;
}


.grid-item{
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px #e1e1e1;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 250;
}

.active{
    background-color: aqua;
}